.sidebar {
	margin:20px;
	height:100%;
	width:auto;
	z-index:1;
	top:0;
	left:0;
	background-color:#111;
	color:white;
	float:left;
	border-radius:15px;
	padding-left:8px;
	padding-top:8px;
	padding-right:8px;
	padding-bottom:8px;
}

.block {
	background-color:#1e1e1e;
	padding:10px;
	margin-bottom:20px;
	border-radius:25px;
}

main {
	width:800px;
	margin:auto;
	padding:10px;
	color:white;
	height:100%;
	text-align:center;
}

img {
	margin:auto;
	padding-left:2px;
	padding-top:2px;
	padding-right:2px;
	padding-bottom:2px;
	
}

body {
	background-color:#818589;
}

a {
	color:white;
	}
